.container {
    display: flex;
    // background: #f5f5f5;
    padding: 20px;
  }
  
  .left-panel, .right-panel {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .left-panel {
    flex: 0.8;
    margin-right: 20px;
  }
  
  .right-panel {
    flex: 2;
  }
  
  .proposer-details {
    background: #e0e0e0;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    // margin-bottom: 20px;
    // gap: 20px;
  }
  .proposer-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;

  }
  .proposer-details h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(120, 139, 184);
  }
  
  .proposer-details p {
    margin: 5px 0;
    strong{
        font-size: 18px;
    }
  }
  
  .toll-free {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }
  .form-group {
    margin-bottom: 20px;
    input{
        padding: 8px;
        font-size: 17px;
    }
  }
  .option-type{
    padding: 10px 20px 10px 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 150%;
    option {
        // font-size: 10px;
    }
  }
  
  .form-group small {
    display: block;
    margin-top: 5px;
    color: #666;
  }
  
  .frequency-options {
    display: flex;
    gap: 10px;
    // border: 2px solid red;
    width: 60%;
  }
  
  .frequency-option {
    flex: 1;
    padding: 7px;
    text-align: center;
    background: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .frequency-option.active {
    background: #673ab7;
    color: #fff;
  }
  .frequency-option.active small{
    background: #673ab7;
    color: #fff;
  }
  
  .frequency-option small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    // color: #fff;
  }
//   -------------------
.premium-value-main{
    // border: 2px solid red;
    width: 100%;
    height: 200px;
    background: #e0e0e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.premium-cnt{
//  border: 2px solid red;
 width: 70%;
 height: 50%;
 background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
 padding: 0px 20px 0px 20px;
 border-radius: 20px;
}  
.premium-value{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.premium-value span:first-child {
  padding-bottom: 10px;

}
.premium-value span:last-child {
  font-size: large  ;
color: rgb(104, 104, 177);
}
.continue-btn{
  height: 20%;
  margin-top: auto;
}

// ============   success

.success-main{
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  margin-top: 10%;

}
body {
  text-align: center;
  // padding: 80px 0;
  background: #EBF0F5;
}
  h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
  }
i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  // margin-left:-15px;
  margin-left: 25%;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}