<div class="policy-main-cnt">
    <div class="card" *ngFor="let item of policiesList">
        <div class="card-header">
        <div class="header-content">
            <h2>{{item.policyType}} - {{item.policyName}}</h2>
            <p>{{item.policyNumber}}</p>
        </div>
    </div>
    <div class="card-body">
        <p>{{item.policyDescription}}
        </p>
        <div class="plan-details">
            <span>Life - eWealth Unit-linked insurance plan | Online | Protection | Automatic Asset Allocation</span>
        </div>
    </div>
    <div class="card-footer" *ngIf="item.premiumDetails">
        <div class="key-features">
            <h3>Key Features</h3>
            <p>Annual Premium Range</p>
            <h4>Rs. {{item.annualPremiumRange}} onwards</h4>
            <p>Entry Age</p>
            <h4>{{item.entryAge}} years</h4>
        </div>
        <div class="key-benefits">
            <h3>Key Benefits</h3>
            <ul>
                <li>Easy online buying process</li>
                <li>Two plan options</li>
            </ul>
        </div>
    </div>
    <div class="card-actions">
        <button *ngIf="userRole === 'customer' || userRole === 'employee' || userRole === '' " class="buy-now" (click)="onBuyNow(item.policyId)">Buy Now</button>
        <button class="learn-more" (click)="learnMore(item)">Learn More</button>
    </div>
</div>
</div>

<!-- ----------------------- -->


  