<!-- <mat-drawer #drawer [mode]="'over'" [opened]="isDrawerOpen">
    <div class="sidenav-cnt">
     <div class="side-nav-icon-lable-cnt">
        <span></span>
    </div>
    <div class="side-nav-icon-lable-cnt">
        <span>Reminders</span>
    </div>
    <div class="side-nav-icon-lable-cnt">
        <span>Edit labels</span>
    </div>
    <div class="side-nav-icon-lable-cnt">
        <span>Archive</span>
    </div>
    <div class="side-nav-icon-lable-cnt">
        <span>Trash</span>
    </div>
   </div>
</mat-drawer> -->