<img src="assets/image/insurance-background-img.jpg" class="background-image" alt="">
<div class="header-main-cnt">
    <div class="inner-main-cnt">
      <div class="img-span-search-cntr">
        <div class="menuicon-img-span-cntr">
            <!-- <mat-icon class="menu-icon" (click)="handleDrawerClick()" svgIcon="menu-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon> -->
            <img class="book-img" src="assets/image/insurance-logo.png" alt="Image not found" height="40px" width="50px">
            <span>INSURANCE</span>
        </div>
        <div class="search-container">
          <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
          <input type="text" class="search-input" placeholder="Search...">
        </div>
      </div>
      <div class="profile-download-cnt">
        <mat-icon class="download-icon" svgIcon="download-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        <!-- <span class="google-account">P</span> -->
        <div class="login-cnt" routerLink="/">
          <span class="login">Login</span>
          <mat-icon class="profile-icon" svgIcon="profile-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="role-based-content" *ngIf="'admin' !=  userRole">
      <div class="list-of-content" *ngIf="userRole == ''">
        <span class="values" routerLink="policy"> View Policy</span>
      </div>
          <div class="list-of-content" *ngIf="userRole == 'employee'">          
            <span class="values" routerLink="createpolicy">Policy Create</span>
            <span class="values">Payment Process</span>
            <span class="values">Commission</span>
            <span class="values">Premium</span>
            <span class="values" routerLink="policy">View Policy</span>
            <span class="values">view Payment</span>
            <span class="values">view Commission</span>
            <span class="values">Cancellation</span>
            <span class="values">Renewal</span>
            <span class="values">Search Policy</span>
          </div>
          <div class="list-of-content" *ngIf="userRole == 'agent'">
            <span class="values" routerLink="createpolicy">Policy Create</span>
            <span class="values">Payment Process</span>
            <span class="values">Commission</span>
            <span class="values">Premium</span>
            <span class="values" routerLink="policy"> View Policy</span>
            <span class="values" >view Payment</span>
            <span class="values">view Commission</span>
            <span class="values">Renewal</span>
            <span class="values">comm based on 1 Policy</span>
            <span class="values">Search Policy</span>
          </div>
          <div class="list-of-content" *ngIf="userRole == 'customer'">
            <span class="values" routerLink="policy">View Policy</span>
            <span class="values">My Policy</span>
            <span class="values">View Payment</span>
            <span class="values">Receipt</span>
            <span class="values">Policy Cancellation</span>
            <span class="values">Renewal</span>
            <span class="values">Search Policy</span>
          </div> 
    </div>
    <div class="main-content" *ngIf="userRole == 'admin'" [style.backgroundImage]="'url(assets/Images/customer-dashboard-background-image.png)'" >
      <p class="quote">A Policy Of life insurance is the cheapest and safest mode of making a certain provision for one's family</p>
    </div> 
  </div>
  
 
  


  





  
  
  

  


  