<div class="personal-dtl-cnt">
  <div class="header-detail">
    <span>Let's move ahead with your personal details</span>
  </div>
  <div class="personalDetail">
    <mat-card>
      <form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <div class="form-group-single">
            <label>What does your annual income look like?</label>
            <div class="income-options">
              <mat-radio-group formControlName="annualIncome">
                <mat-radio-button value="500000">5Lacs-10Lacs</mat-radio-button>
                <mat-radio-button value="1000000">>10Lacs</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group">
            <div class="form-field">
              <label>DOB</label>
              <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div>Your age is: {{ age }}</div><br>
            </div>
            <div class="form-field">
              <label>Select Agent</label>
              <mat-form-field appearance="outline">
                <mat-label>Select Agent</mat-label>
                <mat-select formControlName="agent">
                  <mat-option *ngFor="let agent of allAgent" [value]="agent.id">{{ agent.fullName }} ( {{agent.location}} )</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group">
            <div class="form-field">
              <label>First Name</label>
              <mat-form-field appearance="outline">
                <mat-label>Your First Name</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="form-field">
              <label>Last Name</label>
              <mat-form-field appearance="outline">
                <mat-label>Your Last Name</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
          </div>

          <div class="form-group-single">
            <label>Your Gender</label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-radio-button value="third-gender">Third Gender</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-group">
            <div class="form-field">
              <label>Mobile Number</label>
              <mat-form-field appearance="outline">
                <mat-label>Your Mobile No</mat-label>
                <input matInput formControlName="mobileNumber">
              </mat-form-field>
            </div>
            <div class="form-field">
              <label>Address</label>
              <mat-form-field appearance="outline">
                <mat-label>Your Address</mat-label>
                <input matInput formControlName="address">
              </mat-form-field>
            </div>
          </div>

          <div class="form-group-single">
            <mat-checkbox formControlName="acceptPolicy">I accept Life's Privacy policy</mat-checkbox>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="receipt()">Continue</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
