.main-content{
 display: flex;
//  flex-direction: column;
 justify-content: center;
}
.policies-main-cnt {
    width: 74%;
    // margin-left: 174px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  
  .title-nav {
    width: 100%;
    margin-top: 19px;
  }
  
  .home-nav {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
  }
  
  .policies-nav {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    color: #0A0102;
  }
  
  .policies-cnt {
    width: 100%;
    margin-top: 17px;
  }
  
  .policies-heading-cnt {
    background: #8cc4ec no-repeat padding-box;
    // border: 1px solid #E4E4E4;
    padding: 17px 0px 14px 0px;
    display: flex;
    justify-content: center;
  }
  
  .policies-heading {
    text-align: left;
    font: normal normal medium 25px/35px Roboto;
    color: #0A0102;
    font-size: 20px;
  }
  
  .policy-item-cnt {
    margin-top: 20px;
  }
  
  .policy-box {
    padding: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    background: rgb(255,255,255,0.7);
  }
  
  .policy-details {
    display: flex;
    flex-direction: column;
  }
  
  .policy-name,
  .premium-amount,
  .policy-id {
    text-align: left;
    font: normal normal normal 16px/22px Roboto;
    color: #0A0102;
    margin-bottom: 8px;
  }
  
  .action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .empty-policies {
    width: 100%;
    margin-top: 17px;
  }
  
  .delete-icon {
    width: 17px;
    height: 53px;
  }

  // -------------------
  .payment-process{
    //  border: 2px solid red;
     width: 100%;
     background-color: #e0e0e0;
     border-radius: 5px;
    //  height: ;
  }
.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
label{
   font-size: 20px;
   padding: 20px 0px 20px 0px;
}
}

  .payment-options{

  display: flex;
  gap: 10px;
  // border: 2px solid red;
  width: 60%;
  }
  .payment-option{
    flex: 1;
    padding: 7px;
    text-align: center;
    // background: #e0e0e0;
    border: none;
    cursor: pointer;
    // border-radius: 8px;
  }
  .payment-option.active {
    background: #673ab7;
    color: #fff;
  }

  .proceeedToPay{
    display: flex;
    // align-items: end;
    justify-content: flex-end;
    padding: 0px 20px 20px 0px;
  }