<img src="assets/image/life-insurance.avif" class="background-image" alt="">
<div class="signup-container">
  <div class="signup-main-cnt">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="handleSignup()">
      <span class="heading"><h2>SignUp</h2></span>
      <div class="name-email">
        <div class="name-field">
          <label>Full Name</label>
          <mat-form-field appearance="outline">
            <mat-label>Name Form Field</mat-label>
            <input matInput placeholder="Enter Full Name" formControlName="fullname">
            <mat-error *ngIf="signupControl['fullname']?.hasError('required')">FullName required</mat-error>
          </mat-form-field>
        </div>
        <div class="email-field">
          <label>Email Id</label>
          <mat-form-field appearance="outline">
            <mat-label>EmailID Form Field</mat-label>
            <input matInput placeholder="Enter EmailId" formControlName="email">
            <mat-error *ngIf="signupControl['email']?.hasError('required')">Email required</mat-error>
            <mat-error *ngIf="signupControl['email']?.hasError('email')">Incorrect Email</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="address-password">
        <div class="password-field">
          <label>Password</label>
          <mat-form-field appearance="outline">
            <mat-label>Password Form Field</mat-label>
            <input matInput placeholder="Enter Password" type="password" formControlName="password">
            <mat-error *ngIf="signupControl['password']?.hasError('required')">Password required</mat-error>
            <mat-error *ngIf="signupControl['password']?.hasError('minlength')">Password should contain 6 characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="signup-form-buttons">
        <span routerLink="/">Already Have An Account</span>
        <button type="submit" mat-raised-button color="primary" class="login-btn">SignUp</button>
      </div>
    </form>
  </div>
</div>